body{
    background-color: #1F1C57;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
}

body > div{
    margin-top: 3%;
}
#buttonDiv{
    color: #1F1C57;
}

#weatherImage{
    width: 200px;
    height: auto;
}